.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 9px;
    background-color: rgb(161, 50, 236);
    height: 45vh;
    width: 30%;
    margin: auto;
    position: relative;
}

.titulo {
    font-size: x-large;
    padding: 10px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.id {
    font-size: large;
    padding: 6px;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.voltar {
    padding: 8px;
    margin: 4px;
    margin-top: 10px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    background-color: indigo;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    transition: all 0.4s ease;
}

.voltar:hover {
    background-color: blueviolet;
    box-shadow: 0 0 4px indigo;
    transform: scale(1.02);
    transform: translateY(-2px);
}

.voltar:active {
    transform: scale(0.8);
}